html {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

header {
    background-color: lightgray;
    text-align: center;
}

footer {
    background-color: lightgray;
    text-align: center;
}

aside {
    background-color: lightgray;
}

nav {
    background-color: lightgray;
}

